@page {
  size: F4;
  margin: 20mm;
}

/* Gaya dasar halaman */
body {
  background: #ccc; /* supaya terlihat batas halamannya */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

/* Area halaman A4 */
.page {
  background: white;
  width: 210mm;
  min-height: 297mm;
  /* padding: 20mm; */
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  box-sizing: border-box;
  position: relative;
}

/* Supaya saat print ukuran tetap */
@media print {
  body {
    background: none;
    padding: 0;
  }
  .page {
    position: static;
    box-shadow: none;
    margin: 0;
    width: 100%;
    min-height: auto;
    page-break-after: always;
  }
}   
/* header berlaku untuk screen & print */
.header {
  display: flex;
  margin: 0;
}
/* logo sekolah di kiri header */
.header .logo1 {
  justify-content: flex-start; 
  /* dorong logo ke kiri   */
  width: 100px;
  top: 0;
  bottom: 0;
  height: auto;
  display: block;
  margin-right: auto;
}
.header .logo2 {
  width: 200px;
  height: auto;
  display: block;
  margin-left: auto;
  justify-content: right;
  rotate: 180deg;
  transform: scaleX(-1);
}
.header .baris1 {
  color: orange;
}
.header .baris2 {
  color: blue;
}
/* belum selesai diedit (gunakan flex untuk input bisa di kanan dan dikiri. */ 
.data_siswa1 { 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem; 

}
/* box input styles */
.data_siswa1 .input {
  max-width: 190px;
  height: 44px;
  background-color: #fffffffe;
  border-radius: .5rem;
  padding: 0 1rem;
  border: 2px solid rgb(79, 162, 246);
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.data_siswa1 .label {
  justify-content: st;
  margin-bottom: .3rem;
  font-size: .9rem;
  font-weight: bold;
  color: #05060f99;
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.data_siswa1 .input:hover, .input:focus, .input-group:hover .input {
  outline: none;
  border-color: #273298;
}

.data_siswa1 .input-group:hover .label, .input:focus {
  color: #05060fc2;
}
/* data siswa baris 2 */
.data_siswa2 { 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem; 
}
/* box input styles */
.data_siswa2 .input {
  max-width: 190px;
  height: 44px;
  background-color: #fffffffe;
  border-radius: .5rem;
  padding: 0 1rem;
  border: 2px solid rgb(79, 162, 246);
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.data_siswa2 .label {
  justify-content: st;
  margin-bottom: .3rem;
  font-size: .9rem;
  font-weight: bold;
  color: #05060f99;
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.data_siswa2 .input:hover, .input:focus, .input-group:hover .input {
  outline: none;
  border-color: #273298;
}

.data_siswa2 .input-group:hover .label, .input:focus {
  color: #05060fc2;
}

/* Data siswa sudah bisa, namun box editor nya masih belum bisa */
.editor-box {
  height: 50%;
  border: 1px solid #aaa;
  padding: 50px;
  box-sizing: border-box;
  min-height: 500px; /* <— wajib */
  width: 100%;
}
.logo3 {
  position: absolute;
  width: 200px;
  bottom: 0;

}
.content{ 
  margin-top: 20px;
}
.content .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 50px;
  background: skyblue;
  margin: 0 auto; 
  /* Membuat sudut kiri & kanan atas melengkung */
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;

  /* Sudut bawah tetap kotak */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.content .house-body {
  width: 700px;
  height: 300px;
  border: 4px solid rgb(255, 209, 57);
  /* border-top: none; Supaya menyatu dengan atap */
  margin: 0 auto;   /* CENTER */
  box-sizing: border-box;
}